@import '../base/variables';

.ContainerHome{
    background-color: rgb(151, 151, 78);
    height: auto;
    width: auto;

  .ContainerCirculo{
    background-color: chartreuse;
    padding: 6rem 0;
    padding-left: 10rem;

    .CirculoHome{
        display: flex;
        z-index: -10;
        background-color: aqua;
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
    }

  }
}