@import '../base/variables';

   // height: 130px;
   // @include breakpoint(md){
   //     height: 110px;
   // }

   // @include breakpoint2(md){
   //     height: 100px;
   // }

.ContainerNavBar{
    display: flex;
    position: absolute;
    z-index: 10;
    position: fixed;
    //background-color: aqua;
    height: 100vh;
    width: 10em;
    // justify-content: center;
    align-items: center;

    @include breakpoint(md){
        //position: fixed;
        bottom: 0px;
        height: 5em;
        width: 100%; 
        justify-content: center;
    }

    .NavBar{
        display: flex;
        flex-direction: column;
        background-color: $blackLight;
        height: 80%;
        width: 50%;
        border-radius: 20px;

        @include breakpoint(md){
            flex-direction: row;
            width: 75%;
            
            align-items: center;
        }

        .ContainerLogo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 30%;
            
            .LogoNavBar{
                width: 3.7em;
                height: 3.7em;
                border-radius: 50%;
                border: 1px solid $white;
                margin-top: 1em;
            }

            .NameNavBar{
                text-align: center;
                color: $white;
            }
            @include breakpoint(md){
                display: none;
            }
        }

    
        .ContainerItem{
            display: flex;
            flex-direction: column;
            height: 65%;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            

            .Item{
                display: flex;
                //background-color: chartreuse;
                height: 2.5em;
                width: 2.5em;
                border: 1px solid $white;
                border-radius: 25%;
            }
            @include breakpoint(md){
                flex-direction: row;
                
                justify-content: space-around;
                
                
            }
        }
    }


}
