@import '../base/variables';

.NavBarContainer{
    height: 130px;
    @include breakpoint(md){
        height: 110px;
    }

    @include breakpoint2(md){
        height: 100px;
    }
    .Bar{
        display: flex;
        background-color: $black;
        margin: 0 7%;
        border-radius: 75px;
        height: 85%;
        align-items: center;
  

        .Navs{
            
            display: flex;
            margin: 0 100px;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            
            @include breakpoint(md){
                display: flex;
                margin: 0 70px;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }

            @include breakpoint2(md){
                display: flex;
                margin: 0 40px;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }

            .Logo{

                h1{
                    color: $white;
                }
                
            }

            
            .Icons{
                display: flex;

                div{
                    
                    color: $white;
                    padding: 10px 15px;
                    margin: 0 20px;
                    border-radius: 50px;

                    &:hover{
                        color: $orange;
                        background-color: $blackLight;
                    }
                }
                @include breakpoint(md){
                    display: none;
                }
            }
            .IconsMovile{
                display: none;

                @include breakpoint(md){
                    display: flex;
                    background-color: $red;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    padding-top: 1px;
                    border-radius: 50%;
                        .Menu{
                            color: $white;
                            font-size: 20px;

                            .MenuMovil{
                                position: absolute;
                                background-color: $blackLight;
                                height: 6.8em;
                                width: 9em;
                                right: 95px;
                                top:75px;
                                border-radius: 15px;
                                border: solid $orange 1px;
                                padding-top: 0.9em;

                                h3{
                                    display: flex;
                                    justify-content: center;
                                    
                                }
                            }
                        }
                }
                @include breakpoint2(md){
                    .Menu{
                       .MenuMovil{
                            padding-top: 0.9em;
                            top:70px;
                            right: 65px;
                            height: 6.5em;
                            width: 8.35em;
                        } 
                    }
                    
                }
            }
        }
    }
}

.NavBarContainerN{
    
    position: fixed;
    background-color: $black;
    height: 60vh;
    width: 5vw;
    top:20vh;
    left: 5px;
    border-radius: 50px;

    
    .IconsN{
        //background-color: rgb(107, 104, 104);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100px;
        //transition: all 0.5s  ease-in-out;
        
        .direction{

            .IconN{
                
                width: 20px;
                height: 20px;
                border-radius: 5px;
            }
            .IconN1{
                display: none;
            }
        }   
    
    }   



    &:hover{
        width: 10vw;
        transition: 0.4s;
        .IconsN{
            .direction{
                display: flex;
                border-radius: 5px;
                padding: 2px;
                justify-content: center;
                align-items: center;
                
                    .IconN{
                        width: 20px;
                        height: 20px;
                    }
                    .IconN1{

                        display: flex;
                        padding-left: 5px;
                        //transition: 2s;
                    } 
                &:hover{
                    background-color: $blackLight;
                    color: $orange;
                }
                
                }

        }
    }
}   